body {
  background-color: var(--main-body);
}

.header-cert {
  margin-bottom: 4rem;
}

.main-cert-container {
  margin-bottom: 7.5rem;
}

.two-certs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cert-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.cert-img-container {
  display: flex;
  justify-content: center;
}

.cert-img {
  width: min(100%, 64rem);
  box-shadow: var(--shadow);
  transition: 0.2s;
}

.cert-img:hover {
  transform: scale(1.2);
  box-shadow: var(--shadow-hover);
}
