* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-light: #e4f9f5;
  --text-dark: #40514e;
  --headings-one-two: #66bfbf;
  --heading-three: #11999e;
  --dotted-hr: #d0ebeb;
}

body {
  text-align: center;
  font-family: 'Merriweather', serif;
  color: var(--text-dark);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

.container {
  padding-left: 3em;
  padding-right: 3em;
}

/************* headings **************/

.heading {
  font-family: 'Sacramento', cursive;
  color: var(--headings-one-two);
  padding: 9rem 0 0;
  font-size: 5.5rem;
}

.heading-two-style {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: var(--headings-one-two);
  font-weight: normal;
}

.heading-three {
  font-family: 'Montserrat', sans-serif;
  color: var(--heading-three);
  margin: 2rem 0;
  font-size: 1.4rem;
}

/************* header **************/

.header {
  background-color: var(--bg-light);
}

.mountain {
  margin: auto;
  display: block;
}

.top-cloud {
  position: absolute;
  right: 21%;
  top: 80px;
  max-width: 9rem;
}

.bottom-cloud {
  position: absolute;
  left: 21%;
  max-width: 9rem;
}

/************* main **************/

.dotted-hr {
  border: dotted var(--dotted-hr) 6px;
  border-bottom: none;
  width: 5%;
  margin: 6.25rem auto;
  padding-left: 1em;
  padding-right: 1em;
}

.avatar-img {
  max-width: 7rem;
  margin: 8rem auto 6rem;
  border-radius: 100%;
  background-color: var(--bg-light);
}

.introduction-text {
  max-width: 25ch;
  margin: auto;
  padding: 1em 0 0;
  font-size: 1.1rem;
}

.tools-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3em 0 0;
  gap: 1.5rem;
}

.programming-lang-img {
  max-width: 4rem;
}

.programming-lang-img:hover {
  -webkit-animation: icon-rotate 0.5s linear both;
  animation: icon-rotate 0.4s linear both;
}

@-webkit-keyframes icon-rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes icon-rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.contact-me {
  padding: 2em 0 2em 0;
  margin-bottom: 6rem;
  background-color: var(--bg-light);
}

.btn {
  background-image: linear-gradient(
    to right,
    var(--heading-three) 0%,
    var(--headings-one-two) 51%,
    var(--heading-three) 100%
  );
  padding: 1em 2em;
  text-transform: uppercase;
  transition: 0.3s;
  background-size: 200% auto;
  color: var(--bg-light);
  border-radius: 5em;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 2px 3px rgb(59, 59, 59);
  font-size: 1.1rem;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  box-shadow: none;
}

/************* Find my services section **************/

.find-services .find-services-text {
  padding: 0;
  margin-bottom: 3rem;
}

.fa-arrow-down {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--text-dark);
}

/************* footer **************/

.footer-mountains {
  margin-bottom: -6px;
}

footer {
  background-color: var(--headings-one-two);
  min-height: 12rem;
  padding: 3rem 1rem 1rem;
}

.social {
  display: flex;
  justify-content: center;
}

.fa-brands {
  padding: 1rem;
  font-size: 3rem;
  color: var(--heading-three);
  cursor: pointer;
}

.fa-brands:hover {
  color: var(--bg-light);
  transition: 0.5s ease;
}

.thanks-p {
  color: var(--heading-three);
  position: relative;
  top: 30px;
}

.thanksto {
  max-width: 40ch;
  margin: auto;
  padding: 1rem;
}

.footer-link-fi {
  position: relative;
  display: inline-block;
  top: 20px;
  font-size: 0.8rem;
  color: var(--heading-three);
  font-family: 'Montserrat', sans-serif;
}

.footer-link-fi:hover {
  text-decoration: underline;
}

.footer-hr {
  border: none;
  border-bottom: solid var(--heading-three) 1px;
  width: 20%;
  margin: auto;
  padding: 1rem;
}

.copyright {
  color: var(--bg-light);
  font-size: 1rem;
  padding: 1rem 0 0;
}
