:root {
  /* colors */
  --main-body: #f4fcff;
  --bg-accent: #d4f1ff;
  --bg-hero: #00aaf9;
  --light-blue: #94ddff;
  --blue-hover: #75d3ff;
  --headings-one-two: #002f6c;
  --active-hover-color: #0047a3;
  --text-dark: #002f6c;
  --red: #ff6b7b;
  --green: #05ac9a;
  --green-light: #33c9ba;
  /* fonts */
  --Sacramento: 'Sacramento', cursive;
  --Montserrat: 'Montserrat', verdana, sans-serif;
  /* shadows */
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06),
    0px 8px 16px rgba(0, 0, 0, 0.04);
  --shadow-hover: 0px 4px 20px rgba(0, 0, 0, 0.16),
    0px 8px 20px rgba(0, 0, 0, 0.1);
}

*,
*::after,
f *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--main-body);
  scroll-behavior: smooth;
  color: var(--text-dark);
  word-wrap: break-word;
  margin: 0;
  font-family: var(--Montserrat);
  overflow-x: hidden;
}

body {
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.tac {
  text-align: center;
}

.container {
  padding-left: 3em;
  padding-right: 3em;
}

/* back to top button */

#backToTop {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 0px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background: var(--bg-hero);
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  margin-bottom: 2rem;
}

#backToTop:hover {
  background: var(--blue-hover);
  color: var(--headings-one-two);
}

/* vertical scrollbar */

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: var(--blue-hover);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--headings-one-two);
  border-radius: 5rem;
  border: 4px solid var(--blue-hover);
}

body::-webkit-scrollbar-thumb:hover {
  border: 3px solid var(--blue-hover);
}

/************* headings **************/

.heading-hero {
  font-family: var(--Sacramento);
  color: var(--headings-one-two);
  font-size: clamp(3rem, 15vw, 6.5rem);
  margin-top: 8rem;
  line-height: 1;
}

.page-heading {
  font-family: var(--Montserrat);
  font-size: clamp(1.8rem, 7vw, 2.625rem);
  color: var(--headings-one-two);
  margin-bottom: 1rem;
}

.heading-two-style {
  font-family: var(--Montserrat);
  font-size: clamp(1rem, 5vw, 2rem);
  color: var(--headings-one-two);
  font-weight: 400;
  margin-bottom: 2rem;
}

.heading-three-style {
  font-family: var(--Montserrat);
  font-size: clamp(1.35rem, 3vw, 1.625rem);
  color: var(--headings-one-two);
  font-weight: 600;
  margin-bottom: 1rem;
}

/************* navigation **************/

nav {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1em 3em;
  position: relative;
}

.avatar-nav-logo {
  max-width: 2.5rem;
  max-height: 2.5rem;
  background-color: var(--light-blue);
  border-radius: 50%;
  position: relative;
}

.status-online {
  position: absolute;
  top: 16px;
  left: 77px;
  width: 12px;
  height: 12px;
  background-color: rgb(0 196 0);
  border: 2px solid white;
  border-radius: 50%;
}

nav ul {
  width: 100%;
  list-style: none;
  font-family: var(--Montserrat);
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--headings-one-two);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
}

nav .mobile-menu {
  display: none;
}

.main-nav-link:hover,
.sidebar .nav-link:hover {
  background-color: var(--light-blue);
}

.nav-link {
  background-color: var(--bg-hero);
  border-radius: 2rem;
  align-self: center;
  padding: 0.5em 0.8em;
}

.active {
  background-color: var(--light-blue);
  padding: 0.7em;
  border-radius: 2rem;
}

.active:hover {
  background-color: var(--blue-hover);
  color: var(--active-hover-color);
}

/* sidebar menu */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--bg-accent);
  box-shadow: 1px 0 10px var(--shadow);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.sidebar .nav-link {
  background-color: var(--bg-accent);
}

.sidebar .active {
  background-color: var(--light-blue);
}

.sidebar .active:hover {
  background-color: var(--blue-hover);
  color: var(--headings-one-two);
}

.fa-house {
  font-size: 1rem;
}

.fa-xmark,
.fa-bars {
  color: var(--headings-one-two);
  font-size: 1.3rem;
  display: flex;
}

/* hero section */

header {
  background-color: var(--bg-hero);
  margin-bottom: 7.5rem;
}

.cloud {
  position: absolute;
  top: 5rem;
  left: 100vw;
  width: 150px;
  height: 50px;
  background-image: url('/images/cloud.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: cloud-move 70s linear infinite;
  z-index: 2;
}

@keyframes cloud-move {
  0% {
    left: 100vw;
  }
  100% {
    left: -200px;
  }
}

.cloud1 {
  top: 22rem;
  animation-duration: 90s;
  opacity: 0.7;
}
.cloud2 {
  top: 23rem;
  animation-duration: 50s;
}

/* header .heading-two-style::after {
  content: '';
  background-image: url('/images/cloud.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 7rem;
  width: 150px;
  height: 50px;
  animation: top-cloud 60s normal linear infinite;
}

header .heading-two-style::before {
  content: '';
  background-image: url('/images/cloud.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 23rem;
  width: 150px;
  height: 50px;
  animation: bottom-cloud 55s normal linear infinite;
} */

/* @keyframes top-cloud {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes bottom-cloud {
  0% {
    transform: translateX(63vw);
  }

  100% {
    transform: translateX(-100vw);
  }
} */

.mountain {
  margin: auto;
  display: flex;
}

/************* main **************/

.text {
  font-size: clamp(1rem, 1vw, 1.125rem);
  max-width: 65ch;
}

.page-greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 7.5rem auto;
  max-width: 60ch;
}

.avatar-img {
  max-width: 7rem;
  margin-bottom: 3rem;
  border-radius: 100%;
  background-color: var(--light-blue);
}

.intro-text-container {
  max-width: 1440px;
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.intro-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 7rem;
}

.intro-section-txt {
  margin-top: 2rem;
  max-width: 37%;
}

.intro-section-txt:nth-child(odd) {
  margin-left: 2rem;
}

.intro-section-txt:nth-child(even) {
  margin-right: 2rem;
}

.intro-section-img {
  max-width: 50%;
  width: 43rem;
}

.intro-img {
  border-radius: 2rem;
}

/************* My tools section **************/

.my-tools {
  margin: 4rem auto 7.5rem;
  padding: inherit;
  max-width: 1587px;
}

.tools-row-marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.tools-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
  width: max-content;
  animation: marquee 50s linear infinite;
  margin-bottom: 1rem;
}

.tools-row-2 {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.img-card {
  display: flex;
  padding: 1em 2em 1em 1em;
  border-radius: 1.5rem;
  background-color: var(--bg-accent);
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.tools-icon {
  max-width: 4rem;
}

.tools-card-txt {
  color: var(--headings-one-two);
  font-weight: 600;
  font-size: 1.125rem;
}

.tools-description {
  font-size: 0.875rem;
}

.bootstrap-icon {
  max-width: 4.6rem;
}

.figma-icon {
  max-width: 2.4rem;
}

/************* Portfolio examples section **************/

.portfolio-examples-container {
  background-color: var(--bg-accent);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.section-heading-text-container {
  max-width: 65ch;
  margin: 0 auto 2rem;
  padding: 0 1.5em;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.card {
  min-width: 25rem;
  height: min(31.5rem, 33.75rem);
  background-color: var(--bg-hero);
  border-radius: 2rem;
  padding: 0.5em 0.5em 0;
  box-shadow: var(--shadow);
  transition: 0.2s;
}

.card:hover {
  scale: 103%;
  box-shadow: var(--shadow-hover);
}

.card-heading {
  padding-top: 8px;
  font-size: clamp(1rem, 5vw, 1.6rem);
  font-weight: 600;
  font-family: var(--Montserrat);
  color: var(--headings-one-two);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.card-inner {
  width: 100%;
  height: 440px;
  border-radius: 1.5rem;
  background-size: cover;
  transition: 0.3s;
}

.card-inner:hover {
  height: 100%;
  transform: translateY(-10%);
}

.inner1 {
  background-image: url(/images/card-img/nftlanding-desktop-full.webp);
}

.inner2 {
  background-image: url(/images/card-img/landing-mobile.webp);
}

.inner3 {
  background-image: url(/images/card-img/tindog-full.webp);
}

.card-inner:hover ~ .card-heading {
  opacity: 0;
  transition: opacity 0.2s;
}

.txt-open-all {
  font-size: 1rem;
  color: var(--headings-one-two);
}

.txt-open-all:hover {
  text-decoration: underline;
}

.fa-angle-right {
  color: var(--headings-one-two);
  font-size: 0.8rem;
}

/************* Get In Touch section **************/

.contact-me-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bird-img {
  max-width: 30rem;
  position: relative;
  top: 1px;
  right: 7rem;
  padding: 0 1em;
}

/************* Form **************/

form {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1rem;
  max-width: 500px;
}

input,
textarea {
  z-index: 1;
  padding: 1em 1.5em;
  border-radius: 2rem;
  border: none;
  background-color: var(--bg-accent);
  font-size: 1rem;
  font-family: var(--Montserrat);
  outline-color: var(--bg-hero);
  color: var(--headings-one-two);
  box-shadow: var(--shadow);
}

input::placeholder {
  color: var(--bg-hero);
  opacity: 1;
}

textarea::placeholder {
  color: var(--bg-hero);
  opacity: 1;
}

button,
.btn {
  border: none;
  cursor: pointer;
  background-color: var(--green);
  padding: 1em 2em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 2rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 7.5rem;
  transition: 0.2s;
  letter-spacing: 1px;
}

button:hover {
  background-color: var(--green-light);
  box-shadow: var(--shadow-hover);
  scale: 103%;
}

/************* footer **************/

.wave-contact-me {
  display: flex;
}

.footer-mountains {
  display: flex;
}

.footer-mountains,
footer {
  position: relative;
  overflow: hidden;
}

footer {
  padding-top: 3em;
  padding-bottom: 1.5em;
  background-color: var(--headings-one-two);
}

.footer-links-soc {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.footer-links-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.footer-link {
  font-family: var(--Montserrat);
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.footer-link:hover {
  color: var(--blue-hover);
}

.footer-soc-container {
  display: flex;
  gap: 2rem;
}

.fa-brands {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.fa-brands:hover {
  color: var(--blue-hover);
}

.copyright {
  font-family: var(--Montserrat);
  color: white;
  font-size: 0.875rem;
}
