@media (max-width: 1025px) {
  @keyframes top-cloud {
    from {
      transform: translateX(52vw);
    }

    to {
      transform: translateX(-84vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(70vw);
    }

    to {
      transform: translateX(-46vw);
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }

  @keyframes top-cloud {
    from {
      transform: translateX(45vw);
    }

    to {
      transform: translateX(-97vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(78vw);
    }

    to {
      transform: translateX(-46vw);
    }
  }

  .hideOnMobile {
    display: none;
  }

  nav .mobile-menu {
    display: block;
  }

  .heading-hero {
    margin-top: 7rem;
  }

  header .heading-two-style::before {
    top: 21rem;
  }

  .contact-me-img-container {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .bird-img {
    max-width: 19rem;
    right: 4rem;
  }
}

@media (max-width: 577px) {
  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .heading-hero {
    margin-top: 4rem;
  }

  header .heading-two-style::after {
    background-size: 100%;
    width: 120px;
    height: 38px;
    top: 5rem;
  }

  header .heading-two-style::before {
    background-size: 100%;
    width: 120px;
    height: 38px;
    top: 19rem;
  }

  .avatar-img {
    max-width: 6rem;
  }

  .card {
    min-width: 100%;
  }

  footer {
    padding-top: 1.5em;
  }
}

@media (max-width: 520px) {
  header .heading-two-style::before {
    top: 16rem;
  }
}

@media (max-width: 426px) {
  @keyframes top-cloud {
    from {
      transform: translateX(61vw);
    }

    to {
      transform: translateX(-112vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(83vw);
    }

    to {
      transform: translateX(-42vw);
    }
  }

  .sidebar {
    width: 100%;
  }

  .hamburger {
    right: 1.5rem;
  }

  header .heading-two-style::after {
    background-size: 85%;
    width: 120px;
    height: 38px;
    top: 5rem;
  }

  header .heading-two-style::before {
    background-size: 85%;
    width: 120px;
    height: 38px;
    top: 15rem;
  }

  .card {
    height: min(440px, 540px);
  }

  .card-inner {
    height: 388px;
  }

  .bird-img {
    max-width: 13rem;
    right: 1.5rem;
  }

  .footer-links-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-soc-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

@media (max-width: 376px) {
  header .heading-two-style::after {
    top: 6rem;
  }

  header .heading-two-style::before {
    top: 18rem;
  }

  @keyframes top-cloud {
    from {
      transform: translateX(51vw);
    }

    to {
      transform: translateX(-112vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(83vw);
    }

    to {
      transform: translateX(-46vw);
    }
  }

  .header-headings-container {
    margin-bottom: 6rem;
  }

  .heading-hero {
    margin-top: 8rem;
  }
}

@media (max-width: 321px) {
  @keyframes top-cloud {
    from {
      transform: translateX(50vw);
    }

    to {
      transform: translateX(-117vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(83vw);
    }

    to {
      transform: translateX(-50vw);
    }
  }

  .btn {
    width: 100%;
  }

  .fa-bars {
    font-size: 1rem;
  }
}
