@media (max-width: 966px) {
  .heading {
    padding: 6rem 0 0;
  }

  .top-cloud {
    right: 0;
    top: 50px;
    margin-right: 4rem;
  }

  .bottom-cloud {
    left: 0;
    margin-left: 4rem;
  }
}

@media (max-width: 581px) {
  .heading {
    font-size: 5rem;
  }

  .heading-two-style {
    font-size: 2rem;
  }

  .heading-three {
    font-size: 1.2rem;
  }

  .top-cloud {
    margin-right: 1rem;
    max-width: 8rem;
  }

  .bottom-cloud {
    margin-left: 1rem;
    max-width: 8rem;
  }

  .avatar-img {
    margin: 6rem auto;
  }

  .footer-mountains {
    margin-top: 5rem;
  }
}

@media (max-width: 426px) {
  .heading {
    font-size: 4rem;
  }

  .heading-two-style {
    font-size: 1.8rem;
  }

  .top-cloud {
    max-width: 6rem;
  }

  .bottom-cloud {
    max-width: 6rem;
  }

  .avatar-img {
    max-width: 6rem;
  }
}

@media (max-width: 361px) {
  .heading-text-container {
    padding: 0 1rem 1rem;
  }

  .heading {
    font-size: 3.4rem;
  }

  .heading-two-style {
    font-size: 1.5rem;
  }

  .heading-three {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .top-cloud {
    max-width: 5rem;
  }

  .bottom-cloud {
    max-width: 5rem;
  }

  .avatar-img {
    max-width: 5rem;
  }

  .tools-row {
    flex-direction: column;
  }

  .programming-lang-img {
    max-width: 3.5rem;
  }

  .btn {
    font-size: 1rem;
  }

  .social {
    flex-direction: column;
  }
}

@media (max-width: 281px) {
  body {
    word-wrap: break-word;
  }

  .heading {
    font-size: 3rem;
    padding: 4.5rem 0 0;
  }

  .heading-two-style {
    font-size: 1.4rem;
  }

  .top-cloud {
    max-width: 3.5rem;
  }

  .bottom-cloud {
    max-width: 3.5rem;
  }

  .btn {
    width: 100%;
  }
}
