@media (max-width: 1440px) {
  .intro-section-container {
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  nav {
    padding-left: 2em;
    padding-right: 2em;
  }

  .intro-text-container {
    margin-bottom: 3rem;
  }

  .my-tools {
    margin-top: 3rem;
  }

  .status-online {
    left: 61px;
  }

  .card-row {
    grid-template-columns: repeat(1, minmax(16rem, 1fr));
  }
}

@media (max-width: 990px) {
  .intro-section-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .intro-text-container {
    gap: 4rem;
  }

  .intro-section-txt {
    max-width: 100%;
    margin-top: 1rem;
  }

  .intro-section-img {
    max-width: 90%;
  }

  .order-change-mobile {
    order: 1;
  }

  .intro-section-txt:nth-child(odd) {
    margin-left: inherit;
  }

  .intro-section-txt:nth-child(even) {
    margin-right: inherit;
  }
}

@media (max-width: 768px) {
  .body-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .hero-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  header {
    margin-bottom: 5rem;
  }

  .hideOnMobile {
    display: none;
  }

  nav .mobile-menu {
    display: block;
  }

  .heading-hero {
    margin-top: 7rem;
  }

  .page-greetings {
    margin-bottom: 5rem;
  }

  .intro-text-container {
    gap: 3rem;
  }

  .intro-section-txt {
    margin-top: 0;
  }

  .my-tools {
    padding: inherit;
    margin-bottom: 5rem;
  }

  .accordion-question::after {
    font-size: 2rem;
  }

  .footer-links-soc {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }

  .footer-soc-container {
    align-items: center;
  }

  .footer-heading-links-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-inner-soc-container {
    gap: 1.5rem;
  }

  .footer-links-div {
    align-items: center;
    gap: 1rem;
  }

  .marquee-inner {
    display: flex;
    width: max-content;
    animation: marquee 50s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .marquee-row-2 {
    display: flex;
    width: max-content;
    animation: marquee-2 50s linear infinite;
  }

  @keyframes marquee-2 {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @media (max-width: 768px) {
    .marquee-outer::before,
    .marquee-outer::after {
      width: 3rem;
    }
  }

  .bird-img {
    right: 4rem;
  }

  .portfolio-examples-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  button,
  .portfolio-container,
  .main-cert-container {
    margin-bottom: 5rem;
  }

  .faq {
    margin-bottom: 5rem;
  }

  .accordion-question::after {
    top: -0.3rem;
  }

  #backToTop {
    display: none !important;
  }
}

@media (max-width: 577px) {
  .cloud {
    transform: scale(0.7);
  }

  .cloud2 {
    top: 19rem;
  }

  .introduction-text-top,
  .introduction-text-bottom {
    font-size: 1rem;
  }

  .avatar-img {
    max-width: 6rem;
  }

  .intro-section-img {
    max-width: 100%;
  }

  .card {
    min-width: 100%;
  }

  .bird-img {
    max-width: 20rem;
  }

  .marquee-content {
    gap: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .marquee-inner {
    gap: 0.625rem;
  }

  /* Image modal close button */
  .img-modal-close {
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 425px) {
  .body-container {
    padding-left: 1em;
    padding-right: 1em;
  }
  .hero-container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .menu-icon,
  .xmark-icon {
    width: 1.25rem;
  }

  nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .status-online {
    left: 44px;
  }

  .sidebar {
    width: 100%;
  }

  .hamburger {
    right: 1.5rem;
  }

  .cloud {
    top: 5rem;
    width: 120px;
  }

  .cloud2 {
    top: 14rem;
  }

  .heading-hero {
    margin-top: 4rem;
  }

  .my-tools {
    padding: inherit;
  }

  .img-card {
    padding: 0.625em 1.5em 0.625em 0.625em;
  }

  .tools-icon {
    max-width: 3.5rem;
  }

  .tools-card-txt {
    font-size: 1rem;
  }

  .card-heading {
    left: 1rem;
    right: 1rem;
  }

  .accordion-item {
    padding: 0.625em 0;
  }

  .accordion-question::after {
    top: -0.4rem;
  }

  .bird-img {
    right: 1rem;
  }
}

@media (max-width: 320px) {
  .btn {
    width: 100%;
  }

  .footer-heading-links-container {
    flex-wrap: wrap;
  }

  .footer-soc-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Image modal content */
  .img-modal-content {
    max-width: 98vw;
  }
}

/* portfolio media queries */
@media (max-width: 1111px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
