@media (max-width: 1440px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 1025px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }

  nav {
    padding-left: 2em;
    padding-right: 2em;
  }

  .status-online {
    left: 61px;
  }

  @keyframes top-cloud {
    from {
      transform: translateX(52vw);
    }

    to {
      transform: translateX(-100vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(80vw);
    }

    to {
      transform: translateX(-100vw);
    }
  }
}

@media (max-width: 990px) {
  .intro-section-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .intro-section-txt {
    max-width: 100%;
  }

  .intro-section-img {
    max-width: 90%;
    order: 2;
  }
}

@media (max-width: 768px) {
  header {
    margin-bottom: 4rem;
  }

  .hideOnMobile {
    display: none;
  }

  nav .mobile-menu {
    display: block;
  }

  .heading-hero {
    margin-top: 7rem;
  }

  header .heading-two-style::after {
    top: 6rem;
  }

  header .heading-two-style::before {
    top: 21rem;
  }

  .page-greetings {
    margin-bottom: 4rem;
  }

  .intro-text-container {
    gap: 4rem;
  }

  .my-tools {
    margin-bottom: 2rem;
  }

  .portfolio-examples-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .contact-me-img-container {
    padding-top: 2em;
  }

  .bird-img {
    max-width: 25rem;
    right: 4rem;
  }

  button,
  .btn {
    margin-bottom: 4rem;
  }
}

@media (max-width: 577px) {
  .heading-hero {
    margin-top: 4rem;
  }

  .introduction-text-top,
  .introduction-text-bottom {
    font-size: 1rem;
  }

  header .heading-two-style::after {
    background-size: 100%;
    width: 120px;
    height: 38px;
    top: 5rem;
  }

  header .heading-two-style::before {
    background-size: 100%;
    width: 120px;
    height: 38px;
    top: 19rem;
  }

  .avatar-img {
    max-width: 6rem;
  }

  .intro-section-img {
    max-width: 100%;
  }

  .card {
    min-width: 100%;
  }

  .bird-img {
    max-width: 20rem;
  }

  footer {
    padding-top: 2.5em;
  }
}

@media (max-width: 520px) {
  header .heading-two-style::before {
    top: 16rem;
  }
}

@media (max-width: 426px) {
  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  nav {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .status-online {
    left: 53px;
  }

  .sidebar {
    width: 100%;
  }

  .hamburger {
    right: 1.5rem;
  }

  .intro-section-txt {
    margin-top: 0;
  }

  @keyframes top-cloud {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(-115vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(-42vw);
    }
  }

  header .heading-two-style::after {
    background-size: 85%;
    width: 120px;
    height: 38px;
    top: 5rem;
  }

  header .heading-two-style::before {
    background-size: 85%;
    width: 120px;
    height: 38px;
    top: 16rem;
  }

  .card {
    height: min(440px, 540px);
  }

  .card-inner {
    height: 388px;
  }

  .bird-img {
    max-width: 17rem;
    right: 1.5rem;
  }

  .footer-links-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-soc-container {
    gap: 1.5rem;
  }

  #backToTop {
    display: none !important;
  }
}

@media (max-width: 376px) {
  .heading-two-style {
    margin-bottom: 4rem;
  }

  header .heading-two-style::after {
    top: 7rem;
  }

  header .heading-two-style::before {
    top: 18rem;
  }

  @keyframes top-cloud {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(-120vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(-46vw);
    }
  }

  .heading-hero {
    margin-top: 7rem;
  }
}

@media (max-width: 321px) {
  header .heading-two-style::before {
    top: 17rem;
  }

  @keyframes top-cloud {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(-117vw);
    }
  }

  @keyframes bottom-cloud {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(-60vw);
    }
  }

  .btn {
    width: 100%;
  }

  .fa-bars {
    font-size: 1rem;
  }
}
