.thanks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60ch;
  margin: 0 auto;
  height: 74vh;
}

.checkmark-img {
  width: 6rem;
  margin: 0 0 3rem;
}

.thanks-page-heading {
  font-size: clamp(1.8rem, 5vw, 3rem);
  margin-bottom: 1rem;
  color: var(--headings-one-two);
  margin-bottom: 2rem;
}

.thank-page-txt {
  font-size: 1.2rem;
  margin-bottom: 4.5rem;
}
