* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #001833;
  --violete: #0077ff;
  --green-turqoise: #16ff00;
  --white: #f2f2f2;
  --ff-orbitron: 'Orbitron', sans-serif;
  --ff-oxanium: 'Oxanium', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('images/stars2.jpg');
  background-position: 115%;
  font-family: var(--ff-oxanium);
  overflow-x: hidden;
}

/* vertical scrollbar */

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: hsl(212, 100%, 10%);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(212, 50%, 30%);
  border-radius: 5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(212, 100%, 50%);
  box-shadow: 0px 0px 10px #0077ff;
}

img {
  display: flex;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: 0.1s;
}

.container {
  padding-left: 4em;
  padding-right: 4em;
}

/*====================
	header / navigation
=====================*/

#header-img,
.footer-logo {
  max-width: clamp(10rem, 22vw + 10rem, 20rem);
}

#nav-bar {
  padding: 1.5em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-width: 100%;
  position: fixed;
  z-index: 2;
  background: rgba(0, 119, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

nav li {
  list-style: none;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 2px solid var(--green-turqoise);
  padding-bottom: 1.8rem;
  text-shadow: 0px 0px 0px var(--green-turqoise);
  color: var(--green-turqoise);
  position: relative;
  /* shaking effect */
  animation: line 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes line {
  from {
    left: 0px;
  }

  50% {
    left: -2px;
  }

  to {
    left: 2px;
  }
}

/* hamburger menu */

.hamburger-container {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
  scale: 70%;
}

.bars {
  background-color: var(--white);
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/*=======================
		hero section
=======================*/

.bg-hero-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10em;
  padding-bottom: 8em;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: min(47ch, 90%);
  gap: 1.3rem;
}

.img-venera {
  max-width: 50rem;
}

.header-fl-info {
  color: var(--violete);
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main-text {
  color: var(--green-turqoise);
  text-shadow: -3px 3px 0px var(--violete);
  font-family: var(--ff-orbitron);
  font-weight: 800;
  font-size: clamp(2.5rem, 11vw, 6rem);
  line-height: 1;
  animation: main-text-anim 0.3s ease-out;
}

@keyframes main-text-anim {
  from {
    transform: translateX(-100vh);
  }

  to {
    transform: translateX(0vh);
  }
}

.sub-heading {
  color: var(--white);
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: 400;
  line-height: 1.5;
  text-shadow: 0px 0px 1px black;
  animation: sub-heading-anim 0.4s ease-out;
}

@keyframes sub-heading-anim {
  from {
    transform: translateX(-100vh);
  }

  to {
    transform: translateX(0vh);
  }
}

.btn {
  cursor: pointer;
  font-size: 1.2rem;
  font-family: var(--ff-orbitron);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1em;
  border: none;
  color: var(--black);
  background-color: var(--green-turqoise);
  box-shadow: -7px 7px 0px var(--violete);
  transition: 0.2s;
}

.btn:hover {
  box-shadow: 0px 0px 0px var(--violete);
  scale: 0.97;
}

/* video section */

#video-div {
  display: flex;
  justify-content: center;
  padding-top: 8em;
  padding-bottom: 8em;
}

#video {
  aspect-ratio: 16 / 9;
  width: min(70rem, 100%);
}

/*===========================
		 PRICING
===========================*/

#pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 15em;
  padding-bottom: 15em;
  background-image: url(./images/moon.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3b3b3b2b;
  border: 1px solid #8a8a8a70;
  border-radius: 2rem;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 1.5em 3em;
  align-items: center;
  object-fit: cover;
  transition: 0.2s;
}

.product:hover {
  background-color: #003e8536;
  backdrop-filter: blur(20px);
}

.product .hdr {
  font-size: 2.2rem;
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 800;
}

.product .product-text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.card-img {
  max-width: 10rem;
  margin-bottom: 2rem;
}

.product .price {
  font-size: 1.5rem;
  font-family: var(--ff-orbitron);
  color: var(--white);
}

/* booking section */

#book-info {
  padding-top: 10em;
  padding-bottom: 10em;
  background: url('images/raketa-big.png') no-repeat fixed 90%;
  display: flex;
  justify-content: center;
}

.book-info-text {
  color: var(--green-turqoise);
  text-shadow: -1px 1px 2px var(--black);
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 2rem;
  text-align: center;
}

#form {
  display: flex;
  gap: 2rem;
}

input,
select {
  color: var(--violete);
}

input:focus {
  color: var(--violete);
}

input::placeholder {
  color: hsl(257, 30%, 67%);
}

::-moz-selection {
  color: var(--violete);
  background: var(--green-turqoise);
}

::selection {
  color: var(--violete);
  background: var(--green-turqoise);
}

input[type='email'] {
  border: none;
  font-size: 1.2rem;
  padding: 1em;
  font-family: var(--ff-orbitron);
  font-weight: 600;
  letter-spacing: 1px;
}

input[type='email']:focus {
  outline: none;
}

input[type='submit']:hover {
  background-position: right center;
}

#email {
  min-width: 35ch;
  box-shadow: -7px 7px 0px var(--violete);
  transition: 0.2s;
}

#email:focus {
  box-shadow: 0px 0px 0px var(--violete);
}

/*=============================
			Footer 
=============================*/

#footer {
  padding: 2em;
  background-image: linear-gradient(
    188deg,
    hsl(270deg 100% 7%) 2%,
    hsl(261deg 100% 12%) 48%,
    hsl(252deg 100% 16%) 62%,
    hsl(244deg 100% 21%) 71%,
    hsl(235deg 100% 25%) 77%,
    hsl(226deg 100% 30%) 82%,
    hsl(218deg 100% 35%) 86%,
    hsl(209deg 100% 39%) 89%,
    hsl(200deg 100% 44%) 91%,
    hsl(191deg 100% 49%) 93%,
    hsl(183deg 100% 53%) 95%,
    hsl(174deg 100% 58%) 96%,
    hsl(165deg 100% 63%) 97%,
    hsl(156deg 100% 67%) 98%,
    hsl(147deg 100% 72%) 99%,
    hsl(139deg 100% 76%) 99%,
    hsl(131deg 100% 81%) 100%,
    hsl(121deg 100% 86%) 100%,
    hsl(112deg 100% 90%) 100%,
    hsl(104deg 100% 95%) 100%
  );
}

.footer-links-logo {
  display: flex;
  justify-content: space-between;
}

#footer-links a {
  font-size: 1.1rem;
  color: var(--white);
  text-decoration: none;
}

#footer-links a:hover {
  color: var(--green-turqoise);
}

.ul-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

#footer li {
  list-style: none;
}

.copyright {
  font-size: 0.8125rem;
  word-spacing: 0.1875rem;
  letter-spacing: 0.0625rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ft-links-hr {
  display: none;
}

.footer-hr {
  border: 1px solid rgb(255 255 255 / 20%);
  border-bottom: none;
  margin-bottom: 2rem;
}

.arnas {
  color: var(--green-turqoise);
  border: 1px solid var(--green-turqoise);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2rem;
  text-transform: uppercase;
  font-family: var(--ff-orbitron);
}

.arnas:hover {
  color: var(--white);
  border-bottom: 1px solid var(--green-turqoise);
  border: 1px solid var(--white);
}

/* card 404 page --> */

.card-page-heading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.p-arrow-container {
  display: flex;
  align-items: center;
}

.p-arrow-container:hover {
  text-decoration: underline;
  color: var(--violete);
}

.card-page-heading {
  color: var(--green-turqoise);
  font-size: clamp(2rem, 5vw, 4rem);
}

.card-page-p {
  color: var(--violete);
  font-size: 1.3rem;
  font-weight: 500;
}

.fa-long-arrow-left {
  color: var(--violete);
  font-size: 1.3rem;
}

/*===========================
		@media queries
===========================*/

@media (min-width: 1920px) {
  main,
  nav-bar,
  .footer-links-logo {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  #book-info {
    background-position: 70% bottom;
  }
}

@media (max-width: 1395px) {
  .bg-hero-wrapper {
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    align-items: center;
  }

  .img-venera {
    width: 100%;
  }
}

@media (max-width: 951px) {
  #nav-bar {
    padding: 1em 3em;
  }

  .nav-links {
    display: none;
  }

  .hamburger-container {
    display: inherit;
  }

  .bg-hero-wrapper {
    flex-direction: column;
    align-items: center;
  }

  #video-div {
    padding: 6em 4em;
  }

  #pricing {
    background-size: 95%;
  }

  #form {
    flex-wrap: wrap;
  }

  #email {
    min-width: 100%;
  }

  #submit {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }

  #form {
    padding-left: inherit;
    padding-right: inherit;
  }

  .nav-links {
    justify-content: space-between;
  }

  .footer-links-logo {
    flex-direction: column;
  }

  .ul-links {
    justify-content: center;
    flex-direction: column;
  }

  footer .link {
    margin-bottom: 1rem;
    letter-spacing: 5px;
  }

  footer,
  .card-page-heading {
    text-align: center;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .footer-hr {
    display: none;
  }
}

@media (max-width: 670px) {
  .bg-hero-wrapper {
    padding-right: 2em;
    padding-left: 2em;
  }

  .btn {
    font-size: 1rem;
  }

  #video-div {
    padding: 8em 2em;
  }

  #pricing {
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  input[type='email'] {
    font-size: 1rem;
  }
}

@media (max-width: 426px) {
  #nav-bar {
    padding: 1em;
  }

  .ul-links {
    flex-direction: column;
  }

  .header-fl-info {
    font-size: 1rem;
  }

  .bg-hero-wrapper {
    padding-top: 8em;
    padding-bottom: 5em;
  }

  #video-div {
    padding: 5em 2em;
  }

  .product {
    padding: 1em 2em;
  }
}
